extends layout

block content
  h1= title

  div(class = "container-fluid")
    a(href="/pastry/create" class="btn btn-secondary") Create 
    div(class = "row")
     each form,index in results
        - let destination = `dispatch(\"/pastry/update?id=${form._id}\")`
        div(class="col-sm-2" onclick=`buy(${index})`) pastry: #{form.pastry} 
        br
        br 
        div(class="col-sm-2" onclick=`buy(${index})`) price: #{form.price}
        br
        br  
        div(class="col-sm-2" onclick=`buy(${index})`) toppings: #{form.toppings}
        div(class="col-sm-6") Actions:  
         a(href='pastry/update/?id='+form._id ) Update 
         a(href='pastry/detail/?id='+form._id ) Detail 
         a(href='pastry/delete/?id='+form._id ) Delete 
        br
        button.btn( class="btn-primary ml-1", onclick= destination) Update 
        script.
                function buy(itemNo){
                    alert(`You purchased items ${itemNo+1}`)
                }
        script.
          function dispatch(path){
            window.location.href=path
          }