extends layout

block content
  h1= title
  
  div(class = "container-fluid")
    div(class = "row")
     each form,index in results
        div(class="col-sm-4" onclick=`buy(${index})`) pastry: #{form.pastry} 
        br
        br 
        div(class="col-sm-4" onclick=`buy(${index})`) price: #{form.price}
        br
        br  
        div(class="col-sm-4" onclick=`buy(${index})`) toppings: #{form.toppings}
        script.
                function buy(itemNo){
                    alert(`You purchased items ${itemNo+1}`)
                }