extends layout 
 
block content 
  h1(class="")= title 
 
  - let id = toShow._id 
  - let pastry = toShow.pastry 
  - let toppings = toShow.toppings 
  - let price = toShow.price 

  div(class=" col-sm-4")
    div(class="row mt-2 bg-secondary") 
      div(class='mr-3 col-sm-3') Pastry ID is: 
      div(class="col-sm-2") #{id} 
    div(class="row mt-2 bg-secondary") 
      div(class='mr-3 col-sm-3') Pastry is: 
      div(class="col-sm-2") #{pastry} 
    div(class="row mt-2 bg-secondary") 
      div(class='mr-3 col-sm-3') Pastry Topping: 
      div(class="col-sm-2") #{toppings} 
    div(class="row mt-2 bg-secondary") 
      div(class='mr-3 col-sm-3') Pastry Price: 
      div(class="col-sm-2") #{price}